.weather-data-container {
    padding: 8px;
    width: 320px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    background-color: #aaa;
    border-radius: 3px;
}

.weather-location-container {
    background-color: #ddd;
}

.weather-temperature-container {
    width: 50%;
    display: inline-block;
}

.weather-temperature-container .wi {
    display: inline;
}

.weather-extra-info-container {
    width: 50%;
    display: inline-block;
}

.temperature-value {
    font-size: 30px;
    font-weight: bold;
    padding-left: 16px;
}

.temperature-type {
    font-size: 20px;
}

